.site-list{
    list-style-type:none;
    margin-left: 0;
}

.site-link{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.site-thumb{
    display: inline;
}

.site-title{
    color: $white;
    width:100%;
}