---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>
    
    <div class="post-content">
        {{ content }}
    </div>
    
    <div id="wufoo-zqr6ueq1v11z41" class="row">
            Fill out my <a href="https://bbrotherton.wufoo.com/forms/zqr6ueq1v11z41">online form</a>.
            </div>
            <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#fefefe;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
            <script type="text/javascript">var zqr6ueq1v11z41;(function(d, t) {
            var s = d.createElement(t), options = {
            'userName':'bbrotherton',
            'formHash':'zqr6ueq1v11z41',
            'autoResize':true,
            'height':'574',
            'async':true,
            'host':'wufoo.com',
            'header':'show',
            'ssl':true};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { zqr6ueq1v11z41 = new WufooForm();zqr6ueq1v11z41.initialize(options);zqr6ueq1v11z41.display(); } catch (e) {}};
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');
    </script>
</article>
    